h1{
  text-align: center;

}

h2{
  color: white;
}

h4{
  text-align: center;
}

body{
background-image:url('../assests/laptop.jpeg');
background-position: center center;
background-color: #ddd;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.container p{
  color:white;
}

ul{
  background-color: black;
}

.parallax-container{
  margin-top: 5%;
}
#about{
  margin-top: 9%;
  background-color: rgba(0,0,0,0.8);

}
